* {
	margin: 0;
	padding: 0;
}

:root {
	--color-primary: #a555dc;
	--color-grey-dark: #6c757d;
	--color-grey-light: #eee;
}

.navbar-brand img {
	width: 80px;
}

.nav-item .icon {
	width: 25px;
}

.nav-icon {
	font-size: 20px;
}

.nav-link {
	margin-left: 10px;
}
.Navlogo {
	font-size: 35px;
}
@media screen and (max-width: 481px) {
	.navbar-brand img {
		width: 65px;
	}
	.Navlogo {
		font-size: 25px;
	}
}

.section1 {
	background-image: url(img/banner.jpg);
	height: 560px;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 100px;
}

.top-heading h2 {
	font-size: 35px;
}

.top-heading h1 {
	font-size: 70px;
	font-weight: 700;
}

.top-heading .btn {
	font-size: 20px;
	background-color: #a555dc;
	border: none;
	color: #fff;
}

.top-heading .btn:hover {
	background-color: #c155dc;
}

.b {
	border: 1px solid #c155dc;
}

.s2Box {
	display: flex;
	align-items: center;
}

.s2Box p {
	font-size: 18px;
}

.s2logo {
	width: 40px;
}

.section3 {
	margin-top: 120px;
}
.product-card {
	position: relative;
}
.product-card:hover .hover-icons {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
	transform: translateY(0);
}
.hover-icons {
	background-color: #f6f5f5;
	padding: 8px 0;

	position: absolute;
	width: 83.3%;
	bottom: 56px;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: 0.3s ease-in-out;
	transform: translateY(10px);
}
.hover-icons ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.hover-icons ul a {
	color: #777;
	padding: 10px;
}
.hover-icons ul li.devider {
	color: rgb(176, 176, 176);
}

.menSale {
	background-image: url(img/7.webp);
	height: 550px;
	background-repeat: no-repeat;
}

.menSale .btn {
	padding: 10px 20px;
	background-color: #a555dc;
	font-size: 18px;
}

.menSale .btn:hover {
	background-color: #c155dc;
	border: none;
}

.menSaleBox {
	background-color: lightgrey;
	padding: 15px 45px;
	opacity: 0.6;
}

.womenSale {
	background-image: url(img/1.webp);
	height: 550px;
	background-size: cover;
	background-repeat: no-repeat;
}

.womenSale .btn {
	padding: 10px 20px;
	background-color: #a555dc;
	font-size: 18px;
	border: none;
}

.womenSale .btn:hover {
	background-color: #c155dc;
}
.menSale,
.womenSale {
	position: relative;
	max-width: 25rem;
}
.menSale .text-center,
.womenSale .text-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.bagpack .btn {
	padding: 5px 12px;
	background-color: #a555dc;
	font-size: 14px;
	border: none;
}

.sunglass .btn {
	padding: 5px 12px;
	background-color: #a555dc;
	font-size: 14px;
	border: none;
}
.small-sall-box {
	background-color: rgba(240, 240, 240, 0.7);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	padding: 10px 0;
}
.section5 {
	background-image: url(img/banner2.jpg);
	height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
}

.s5Box {
	display: flex;
	align-items: center;
}

.s5Box p {
	font-size: 15px;
}

.s5Box .btn {
	padding: 5px 12px;
	background-color: #a555dc;
	font-size: 18px;
	border: none;
}

@media only screen and (max-width: 576px) {
	.s2Row {
		padding-left: 40px;
		padding-right: 40px;
	}
}

/* NEWSLATTER SECTION */
.newslatter-section {
	background-color: #a555dc;
	padding: 30px 0;
}
.newslatter-section .input-group input {
	border-radius: 0;
}
.newslatter-section .input-group button {
	border-radius: 0;
	background-color: #000;
	color: #fff;
}

/* FOOTER */
footer {
	background-color: #eee;
}
.footer-logo img {
	height: 200px;
}
@media screen and (max-width: 400px) {
	.footer-logo img {
		height: 130px;
	}
}
.social-icons {
	display: flex;
	gap: 20px;
	list-style: none;
}
.social-icons a {
	color: #000;
	flex: 20px;
	padding: 5px 10px;
	display: block;
	background-color: #fff;
	border-radius: 50%;
}
.social-icons i {
	font-size: 20px;
}
.footer-links ul {
	list-style: none;
	padding: 0;
}
.footer-links ul a {
	color: #777;
	display: block;
	margin: 5px 0;
	text-decoration: none;
}
.copyright {
	background-color: #a555dc;
	padding: 20px 0;
	text-align: center;
}
.copyright p {
	text-transform: uppercase;
	color: #fff;
	margin: 0;
}
.breadcrumb {
	background-color: #a655dc4b;
}

/* ================================================================
					 STORE PAGE START HERE
=================================================================== */
/* Accordion  */
#my-accordion .accordion-button {
	box-shadow: none !important;
	font-weight: 600;
	font-size: 18px;
}
#my-accordion .accordion-item {
	border: none;
}
#my-accordion .accordion-button {
	text-transform: uppercase;
}

#my-accordion .accordion-button::after {
	background-image: url(../img/plus-lg.svg);
}

#my-accordion .accordion-button:not(.collapsed)::after {
	background-image: url(../img/dash-lg.svg);
}

#my-accordion .accordion-button:not(.collapsed) {
	color: #000;
	background-color: #fff;
}
/* Accordion End */
.custom-checkbox {
	display: inline-block;
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.custom-checkbox input {
	position: absolute;
	display: none;
	cursor: pointer;
	height: 0;
	width: 0;
}
.custom-checkbox .checkmark {
	position: absolute;
	top: 3px;
	left: 0;
	height: 20px;
	width: 20px;
	border: 1px solid gray;
	border-radius: 3px;
}
.custom-checkbox:hover input ~ .checkmark {
	background-color: #e9e9e956;
}
.custom-checkbox input:checked ~ .checkmark {
	background-color: var(--color-primary-dark);
	border: none;
}
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
.custom-checkbox input:checked ~ .checkmark:after {
	display: block;
}
.custom-checkbox .checkmark:after {
	left: 8px;
	top: 4px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
/* CUSTOM CHECKBOX  */
.custom-checkbox {
	display: block;
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.custom-checkbox .cehckbox-text {
	color: var(--color-grey-dark);
	font-weight: 500;
}
.custom-checkbox input {
	position: absolute;
	display: none;
	cursor: pointer;
	height: 0;
	width: 0;
}
.custom-checkbox .checkmark {
	position: absolute;
	top: 3px;
	left: 0;
	height: 20px;
	width: 20px;
	border: 1px solid gray;
	border-radius: 3px;
}
.custom-checkbox:hover input ~ .checkmark {
	background-color: #e9e9e956;
}
.custom-checkbox input:checked ~ .checkmark {
	background-color: var(--color-primary);
	border: none;
}
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
.custom-checkbox input:checked ~ .checkmark:after {
	display: block;
}
.custom-checkbox .checkmark:after {
	left: 8px;
	top: 4px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
/* CUSTOM CHECKBOX END */

.filter-chip {
	color: var(--color-primary);
	border: 1px solid var(--color-primary);
	padding: 0 8px;
	border-radius: 20px;
	margin: 5px;
}
.filter-chip-close {
	color: var(--color-grey-dark);
	cursor: pointer;
}
.sort-by-select {
	box-shadow: none !important;
	background-color: #fafafa;
	border-radius: 2px;
}
.products {
	display: flex;
	flex-wrap: wrap;
}
.product-item {
	margin: 10px 0;
	position: relative;
}
.product-view-btn {
	display: block;
	padding: 6px 12px;
	background-color: #fff;
	color: #333 !important;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 500;
	width: max-content;

	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, 0);

	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: 0.3s;
}
.product-view-btn i {
	color: #c7c101;
	margin-left: 5px;
}

.product-item:hover .product-view-btn {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
}
.product-title {
	font-size: 18px;
	color: #333;
	text-decoration: none;
}
.product-title:hover {
	color: var(--color-primary);
}

.product-price {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: -1px;
}
.old-pirce {
	text-decoration: line-through;
}
.discount {
	color: var(--color-primary);
	font-size: 18px;
	font-weight: 500;
}

/* ================================================================
					 STORE PAGE END HERE
=================================================================== */

/* UTILITIES */
.fw-500 {
	font-weight: 500;
}
.color-grey {
	color: var(--color-grey-dark);
}
