* {
	margin: 0;
	padding: 0;
}
select,
.btn,
.form-control {
	box-shadow: none !important;
}

:root {
	--color-primary: #a555dc;
	--color-grey-dark: #6c757d;
	--color-grey-light: #eee;
}

.navbar-brand img {
	width: 80px;
}

.nav-item .icon {
	width: 25px;
}

.nav-icon {
	font-size: 20px;
}

.nav-link {
	margin-left: 10px;
}
.Navlogo {
	font-size: 35px;
}
@media screen and (max-width: 481px) {
	.navbar-brand img {
		width: 65px;
	}
	.Navlogo {
		font-size: 25px;
	}
}

.section1 {
	background-image: url(img/banner.jpg);
	height: 560px;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 100px;
}

.top-heading h2 {
	font-size: 35px;
}

.top-heading h1 {
	font-size: 70px;
	font-weight: 700;
}

.top-heading .btn {
	font-size: 20px;
	background-color: #a555dc;
	border: none;
	color: #fff;
}

.top-heading .btn:hover {
	background-color: #c155dc;
}

.b {
	border: 1px solid #c155dc;
}

.s2Box {
	display: flex;
	align-items: center;
}

.s2Box p {
	font-size: 18px;
	margin: 0;
}

.s2logo {
	width: 40px;
}

.section3 {
	margin-top: 120px;
}
.product-card {
	position: relative;
}
.product-card:hover .hover-icons {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
	transform: translateY(0);
}
.hover-icons {
	background-color: #f6f5f5;
	padding: 8px 0;

	position: absolute;
	width: 83.3%;
	bottom: 56px;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: 0.3s ease-in-out;
	transform: translateY(10px);
}
.hover-icons ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.hover-icons ul a {
	color: #777;
	padding: 10px;
}
.hover-icons ul li.devider {
	color: rgb(176, 176, 176);
}

.menSale {
	background-image: url(img/7.webp);
	height: 550px;
	background-repeat: no-repeat;
}

.menSale .btn {
	padding: 10px 20px;
	background-color: #a555dc;
	font-size: 18px;
}

.menSale .btn:hover {
	background-color: #c155dc;
	border: none;
}

.menSaleBox {
	background-color: lightgrey;
	padding: 15px 45px;
	opacity: 0.6;
}

.womenSale {
	background-image: url(img/1.webp);
	height: 550px;
	background-size: cover;
	background-repeat: no-repeat;
}

.womenSale .btn {
	padding: 10px 20px;
	background-color: #a555dc;
	font-size: 18px;
	border: none;
}

.womenSale .btn:hover {
	background-color: #c155dc;
}
.menSale,
.womenSale {
	position: relative;
	max-width: 25rem;
}
.menSale .text-center,
.womenSale .text-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.bagpack .btn {
	padding: 5px 12px;
	background-color: #a555dc;
	font-size: 14px;
	border: none;
}

.sunglass .btn {
	padding: 5px 12px;
	background-color: #a555dc;
	font-size: 14px;
	border: none;
}
.small-sall-box {
	background-color: rgba(240, 240, 240, 0.7);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	padding: 10px 0;
}
.section5 {
	background-image: url(img/banner2.jpg);
	height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
}

.s5Box {
	display: flex;
	align-items: center;
}

.s5Box p {
	font-size: 15px;
}

.s5Box .btn {
	padding: 5px 12px;
	background-color: #a555dc;
	font-size: 18px;
	border: none;
}

@media only screen and (max-width: 576px) {
	.s2Row {
		padding-left: 40px;
		padding-right: 40px;
	}
}

/* NEWSLATTER SECTION */
.newslatter-section {
	background-color: #a555dc;
	padding: 30px 0;
}
.newslatter-section .input-group input {
	border-radius: 0;
}
.newslatter-section .input-group button {
	border-radius: 0;
	background-color: #000;
	color: #fff;
}

/* FOOTER */
footer {
	background-color: #eee;
}
.footer-logo img {
	height: 200px;
}
@media screen and (max-width: 400px) {
	.footer-logo img {
		height: 130px;
	}
}
.social-icons {
	display: flex;
	gap: 20px;
	list-style: none;
}
.social-icons a {
	color: #000;
	flex: 20px;
	padding: 5px 10px;
	display: block;
	background-color: #fff;
	border-radius: 50%;
}
.social-icons i {
	font-size: 20px;
}
.footer-links ul {
	list-style: none;
	padding: 0;
}
.footer-links ul a {
	color: #777;
	display: block;
	margin: 5px 0;
	text-decoration: none;
}
.copyright {
	background-color: #a555dc;
	padding: 20px 0;
	text-align: center;
}
.copyright p {
	text-transform: uppercase;
	color: #fff;
	margin: 0;
}
.breadcrumb {
	background-color: #a655dc4b;
}

/* ================================================================
					 STORE PAGE START HERE
=================================================================== */
/* Accordion  */
#my-accordion .accordion-button {
	box-shadow: none !important;
	font-weight: 600;
	font-size: 18px;
}
#my-accordion .accordion-item {
	border: none;
}
#my-accordion .accordion-button {
	text-transform: uppercase;
}

#my-accordion .accordion-button::after {
	background-image: url(img/plus-lg.svg);
}

#my-accordion .accordion-button:not(.collapsed)::after {
	background-image: url(img/dash-lg.svg);
}

#my-accordion .accordion-button:not(.collapsed) {
	color: #000;
	background-color: #fff;
}
/* Accordion End */
.filter-btn {
	background-color: #a555dc !important;
	border: none;
	color: #fff !important;
	box-shadow: none !important;
	width: 100%;
}
.filter-btn:hover {
	background-color: #c155dc !important;
}

/* Custom Checkbox */
.custom-checkbox {
	display: inline-block;
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.custom-checkbox input {
	position: absolute;
	display: none;
	cursor: pointer;
	height: 0;
	width: 0;
}
.custom-checkbox .checkmark {
	position: absolute;
	top: 3px;
	left: 0;
	height: 20px;
	width: 20px;
	border: 1px solid gray;
	border-radius: 3px;
}
.custom-checkbox:hover input ~ .checkmark {
	background-color: #e9e9e956;
}
.custom-checkbox input:checked ~ .checkmark {
	background-color: var(--color-primary-dark);
	border: none;
}
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
.custom-checkbox input:checked ~ .checkmark:after {
	display: block;
}
.custom-checkbox .checkmark:after {
	left: 8px;
	top: 4px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
/* CUSTOM CHECKBOX  */
.custom-checkbox {
	display: block;
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.custom-checkbox .cehckbox-text {
	color: var(--color-grey-dark);
	font-weight: 500;
}
.custom-checkbox input {
	position: absolute;
	display: none;
	cursor: pointer;
	height: 0;
	width: 0;
}
.custom-checkbox .checkmark {
	position: absolute;
	top: 3px;
	left: 0;
	height: 20px;
	width: 20px;
	border: 1px solid gray;
	border-radius: 3px;
}
.custom-checkbox:hover input ~ .checkmark {
	background-color: #e9e9e956;
}
.custom-checkbox input:checked ~ .checkmark {
	background-color: var(--color-primary);
	border: none;
}
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
.custom-checkbox input:checked ~ .checkmark:after {
	display: block;
}
.custom-checkbox .checkmark:after {
	left: 8px;
	top: 4px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
/* CUSTOM CHECKBOX END */

.filter-chip {
	color: var(--color-primary);
	border: 1px solid var(--color-primary);
	padding: 0 8px;
	border-radius: 20px;
	margin: 5px;
}
.filter-chip-close {
	color: var(--color-grey-dark);
	cursor: pointer;
}
.sort-by-select {
	box-shadow: none !important;
	background-color: #fafafa;
	border-radius: 2px;
}
.products {
	display: flex;
	flex-wrap: wrap;
}
.product-item {
	margin: 10px 0;
	position: relative;
}
.product-item .card-body {
	padding: 8px 5px;
}
.product-view-btn {
	display: block;
	padding: 6px 12px;
	background-color: #fff;
	color: #333;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 500;
	width: max-content;

	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, 0);

	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: 0.3s;
}

.product-view-btn:hover {
	background-color: #a555dc;
	color: #fff;
}
.product-view-btn i {
	margin-left: 5px;
}

.product-item:hover .product-view-btn {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
}
.product-title {
	color: #333;
	text-decoration: none;
}
.product-title:hover {
	color: var(--color-primary);
}

.product-price {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: -1px;
	line-height: 1.1;
}
.old-pirce {
	text-decoration: line-through;
}
.discount {
	color: var(--color-primary);
	font-size: 18px;
	font-weight: 500;
}
.modal-close-btn {
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 10;
	box-shadow: none !important;
}

/* CUSTOM RADIO BUTTON FOR SIZE */
.size-radio {
	margin: 0 5px;
}
.size-radio input[type="radio"] {
	display: none;
}
.size-radio label {
	padding: 5px;
	display: inline-block;
	border: 1px solid grey;
	cursor: pointer;
	width: 35px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
}
.size-radio input[type="radio"]:checked + label {
	background: #000;
	color: #fff;
}
/* End Custom radio button */
.product-counter .input-group-text {
	border-radius: 0;
	background-color: #fff;
	cursor: pointer;
}
.product-counter input {
	text-align: center;
}
.add-to-cart-btn {
	border: 0;
	background-color: #000;
	color: #fff;
	padding: 8px 10px;
	width: 100%;
	text-transform: uppercase;
}
.wishlist-btn {
	border: none;
	background-color: transparent;
	font-size: 12px;
	display: flex;
	align-items: center;
	color: #777;
	transition: 0.2s;
}
.wishlist-btn:hover {
	color: #000;
}
.wishlist-btn span {
	width: min-content;
}
.wishlist-btn i {
	font-size: 25px;
	margin-right: 3px;
}

.buy-now-btn {
	border: 2px solid #000;
	background-color: #fff;
	color: #000;
	width: 100%;
	padding: 6px 20px;
	text-transform: uppercase;
	transition: 0.3s;
}
.buy-now-btn:hover {
	background-color: #000;
	color: #fff;
}

.social-share-icons {
	display: flex;
	margin-top: 10px;
}
.social-share-icons .icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	margin: 5px;
	color: #fff !important;
	border-radius: 2px;
	font-size: 20px;
}
.facebook {
	background-color: #4267b2;
}
.twitter {
	background-color: #1da1f2;
}
.linkedin {
	background-color: #0077b5;
}
.instagram {
	background-color: #c13584;
}
.related-add-to-cart {
	border-radius: 0;
	background-color: #000;
	color: #fff;
	width: max-content;
}

/* SWIPER STYLES */
.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper {
	width: 100%;
	/* height: 300px; */
	margin-left: auto;
	margin-right: auto;
}

.swiper-slide {
	background-size: cover;
	background-position: center;
}

.mySwiper2 {
	height: 80%;
	width: 100%;
}

.mySwiper {
	height: 20%;
	box-sizing: border-box;
	padding: 10px 0;
}

.mySwiper .swiper-slide {
	width: 25%;
	height: 100%;
	opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
	opacity: 1;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/* ================================================================
					 STORE PAGE END HERE
=================================================================== */

/* ===========================================================
						 CART PAGE START 
============================================================= */
.cart-item {
	display: flex;
	align-items: center;
}

.cart-item img {
	height: 250px;
}
.cart-item input {
	width: 100px;
	border-radius: 0;
}
.remove-icon-btn {
	background-color: transparent;
	padding: 5px;
	border: none;
	color: var(--color-grey-dark);
	transition: 0.2s;
	font-size: 20px;
}
.remove-icon-btn:hover {
	color: var(--color-primary);
}
.preceed-btn {
	width: 100%;
	border: none;
	background-color: var(--color-primary);
	color: #fff !important;
	display: block;
	text-align: center;
	padding: 8px 10px;
	text-transform: uppercase;
	margin-top: 10px;
	text-decoration: none;
	transition: 0.3s;
}
.preceed-btn:hover {
	background-color: #000;
}

@media screen and (max-width: 476px) {
	.cart-item img {
		height: 180px;
	}
}
@media screen and (max-width: 367px) {
	.cart-item img {
		height: 140px;
	}
	.cart-item input {
		width: 80px;
		margin-right: 5px !important;
	}
}
/* ===========================================================
						 CART PAGE END 
============================================================= */

/* UTILITIES */
.fw-500 {
	font-weight: 500;
}
.color-grey {
	color: var(--color-grey-dark);
}

.text-14 {
	font-size: 14px;
}
